{
  "printWidth": 110,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}
